* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.d-flex {
  display: flex;
}

/* HEADER */

.container {
  max-width: 1300px;
  min-height: 80px;
  margin: 0 auto;
}

header,
header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

header a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-size: 0.7rem;
  height: 80px;
  display: flex;
  align-items: center;
}

li {
  list-style: none;
  margin: 0 10px;
  height: 100%;

}

a:hover {
  color: rgb(0, 115, 255);
  border-bottom: 3px solid rgb(0, 115, 255);
}

.navbar {
  text-align: center;
  height: 80px;
}

.logo {
  width: 60px;
  height: auto;
}

/* MAIN */

/* section 1 */

.text {
  min-height: 400px;
  background-image: url(/public/img/jumbotron.jpg);
  background-size: cover;
}

.film {
  background-color: rgb(30, 30, 30);

  .container-text {
    max-width: 1300px;
    margin: 0 auto;
    min-height: 200px;

    button {
      text-transform: uppercase;
      background-color: rgb(0, 115, 255);
      border: 1px solid rgb(0, 115, 255);
      color: white;
      font-weight: bold;
      font-size: 1.7rem;
      position: relative;
      top: -18px;
      height: auto;
      padding: 10px 10px;
    }

    .film-list {
      margin: 0 20px;
      display: flex;
      flex-wrap: wrap;

      img {
        width: 190px;
        height: 190px;
        margin: 10px;
      }

      span {
        color: white;
        display: block;
        margin: 0 8px;
        margin-bottom: 40px;
        max-width: 180px;
        text-transform: uppercase;
      }
    }

    .button-main {
      display: flex;
      justify-content: center;

      button {
        font-size: 1.0rem;
        padding: 10px 50px;
        margin-top: 30px;
      }
    }
  }
}



/* section 2 */

.icons {
  background-color: rgb(0, 115, 255);
  position: relative;
  z-index: 1;

  .container-icons {
    max-width: 1300px;
    margin: 0 auto;
    min-height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    z-index: 1;

    p {
      text-transform: uppercase;
      padding-left: 10px;
      font-size: 0.8rem;
      color: white;
    }

    img {
      width: 35px;
      height: auto;
    }

    div.d-flex {
      align-items: center;
    }
  }
}


/* FOOTERS */

/* section 1 */

.list {
  background-image: url(../public/img/footer-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  .container-list {
    max-width: 1300px;
    margin: 0 auto;
    max-height: 380px;
    padding-top: 35px;
    padding-bottom: 60px;

    h3 {
      text-transform: uppercase;
      padding: 15px 0;
      color: white;
    }

    li {
      padding: 2px 0;
      margin: 0;
      color: rgb(119, 119, 119);
      font-size: 0.8rem;
    }

    .dc-list {
      margin-left: 40px;
    }

    #logo-footer {
      height: 450px;
      position: relative;
      left: 460px;
      bottom: 70px;
    }
  }
}


/* section 2 */

.social-icons {
  background-color: rgb(54, 54, 54);
  position: relative;
  z-index: 1;

  .container-social {
    max-width: 1300px;
    margin: 0 auto;
    height: 100px;
    padding: 10px 0;
    justify-content: space-between;
    align-items: center;

    button {
      border: 1px solid rgb(0, 115, 255);
      color: white;
      padding: 10px 10px;
      background-color: rgb(54, 54, 54);
      height: calc(100px / 3);
    }

    .social {
      min-width: 300px;
      align-items: center;

      p {
        color: rgb(0, 115, 255);
      }

      #social {
        width: 25px;
        height: 25px;
        margin: 0 10px;
      }
    }
  }
}